@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$theme-colors: (
  blue: #007bff,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #e83e8c,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #28a745,
  teal: #20c997,
  cyan: #17a2b8,
  white: #fff,
  gray: #6c757d,
  gray-dark: #343a40,

  primary: #3BBA95,
  secondary: #6c757d,
  success: #28a745,
  info: #17a2b8,
  warning: #ffc107,
  danger: #dc3545,
  light: #f8f9fa,
  dark: #343a40,
);

.text-gray {
  color: #a0aec0;
}

.border-gray {
  border: 1px solid #a0aec0;
}

.text-blue {
  color: #4299e1;
}

.border-blue {
  border: 1px solid #4299e1;
}

.text-teal {
  color: #38b2ac;
}

.border-teal {
  border: 1px solid #38b2ac;
}

.text-yellow {
  color: #ecc94b;
}

.border-yellow {
  border: 1px solid #ecc94b;
}

.text-green {
  color: #48bb78;
}

.border-green {
  border: 1px solid #48bb48;
}

.text-orange {
  color: #ed8936;
}

.border-orange {
  border: 1px solid #ed8936;
}

.text-pink {
  color: #ed64a6;
}

.border-pink {
  border: 1px solid #ed64a6;
}

.text-purple {
  color: #667eea;
}

.border-purple {
  border: 1px solid #667eea;
}

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 640px,
  lg: 992px,
  xl: 1300px
);

a {
  color: initial;
  &:hover {
    color: initial;
    text-decoration: none;
  }
}

.markdown-body {
  * {
    margin-bottom: 1.5rem !important;
  }
}

h2 {
  margin-top: 2.5rem !important;
}

.seperator {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e2e8f0;
}
.list-item {
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.pagination {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  li {
    line-height: 2;
  }
}

.hover-link {
  &:hover {
    color: #4299e1 !important;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}